*{
    margin: 0;
    padding: 0;
}
.intro{


}
.page-wrapper{
  position: relative;
}
header{
  display:flex ;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: aqua;
}

.sidebar{
  position: absolute;
  top:150px;
  right: 0;
  width: 15%;
}
.main{
  width: 82%;
  position: relative;

}
.main>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: black;
  border: solid;
  font-size: 14px;
  margin-top: 5px; 
  height: 400px;
  width: 550px;
  
}
.participation{
  position: absolute;
  top: -5px;
  right: 0;
}

.preamble{
  width: 75%;
}
.requirements{
  position: absolute;
  right: 0;
  top: 405px;
}